<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="static/newcontact/contact.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav>
        <div class="logo">
            <a href="/home"><img src="static/v_logo.png" width="50%" hieght="50%"></a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>
  
<br>
      <br>
      <br>
      <br>
    
    <div class="container">
 <div class="card">
    <img src="static/dd.png" alt="Person" class="card__image">
    <p class="card__name">Bianca Serrano</p>
    <div class="grid-container">

      <div class="grid-child-posts">
      <b>
       CENTRAL COORDINATION COMMITTE
       </b>
      </div>

      <div class="grid-child-followers">
        
      </div>
     
    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <font color="black">
    <b><i>
 Email : kuhgjjfb@bhcvhc
 <br></i>
      Mobile : 9999999999999</b>
      </font>
   
  </div>
<div class="card">
    <img src="static/dd.png" alt="Person" class="card__image">
    <p class="card__name">Bianca Serrano</p>
    <div class="grid-container">

      <div class="grid-child-posts">
      <b>
       CENTRAL COORDINATION COMMITTE
       </b>
      </div>

      <div class="grid-child-followers">
        
      </div>
     
    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <font color="black">
    <b><i>
 Email : kuhgjjfb@bhcvhc
 <br></i>
      Mobile : 9999999999999</b>
      </font>
   
  </div>
  <div class="card">
    <img src="static/dd.png" alt="Person" class="card__image">
    <p class="card__name">Bianca Serrano</p>
    <div class="grid-container">

      <div class="grid-child-posts">
      <b>
       CENTRAL COORDINATION COMMITTE
       </b>
      </div>

      <div class="grid-child-followers">
        
      </div>
     
    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <font color="black">
    <b><i>
 Email : kuhgjjfb@bhcvhc
 <br></i>
      Mobile : 9999999999999</b>
      </font>
   
  </div>
  <div class="card">
    <img src="static/dd.png" alt="Person" class="card__image">
    <p class="card__name">Bianca Serrano</p>
    <div class="grid-container">

      <div class="grid-child-posts">
      <b>
       CENTRAL COORDINATION COMMITTE
       </b>
      </div>

      <div class="grid-child-followers">
        
      </div>
     
    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="#"><i class="fa fa-google"></i></a></li>
    </ul>
    <font color="black">
    <b><i>
 Email : kuhgjjfb@bhcvhc
 <br></i>
      Mobile : 9999999999999</b>
      </font>
   
  </div>
</div>
      <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="">Home</a>
                  </li>
                  <li>
                      <a href="/register">Register</a>
                  </li>
                  <li>
                      <a href="/teams">Team</a>
                  </li>
                  <li>
                      <a href="/events">Events</a>
                  </li>
                  <li>
                      <a href="/gallery">Gallery</a>
                  </li>
                  <li>
                      <a href="/aboutus">About Us</a>
                  </li>
                  <li>
                      <a href="/contactus">Contact Us</a>
                  </li>
                  
              </ul>
              <p>VERSION - ALL INDIA MCA MEET 2020</p>
          </div>
        </div>
      </div>
    </section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!--navbar-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>
    
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

      <!--nav end-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>